<div class="blog-header">
  <a href="/"><h1 class="blog-title"><%= config.title %></h1></a>
  <% if (theme.subtitle){ %>
    <p class="lead blog-description"><%= theme.subtitle %></p>
  <% } %>
</div>
